<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Comment</key>
	<string>Choose the run and file numbers
Histograms
Extract the data
Basic data
Upstream macrostate data
Downstream macrostate data
Upstream microstate data
Downstream microstate data
Extract the parameters
Extract the theta values
Make theta plot
Basic macrostate parameters
Extract H3 and H2 data
Sample H- and H+
Basic macrostate parameters
Extract H3 and H2 data
Sample H+
Upstream spectrum
Downstream spectrum
Expected energy per mode (STILL ISSUES TO SORT OUT)
Miscellaneous below
Extract a single instance of displacement to view
Statistics</string>
	<key>String</key>
	<string>text
text
text
text
text
downstream, {\it \theta^+}
upstream, {\it \theta^-}
{\it G^-(H^-)}
{\it H^-}
{\it G^-(H^+)}
{\it H^+}
mean spectrum, &lt;{|\it\hat{u}_k}|&gt;
wavenumber, {\it k}
mean spectrum, &lt;{|\it\hat{u}_k}|&gt;
wavenumber, {\it k}
pdf, {\it G(u)}
displacement, {\it u}</string>
</dict>
</plist>
